name: Development

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

jobs:
  dev:
    runs-on: ubuntu-latest-m
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Clear space to remove unused folders
        run: |
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf "/usr/local/share/boost"
          rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set branch name as release version
        id: get_tag
        run: echo "RELEASE_VERSION=${GITHUB_REF##refs/heads/}" | sed 's/\//-/g' >> $GITHUB_ENV

      - name: Build and push the images
        uses: docker/bake-action@v2
        with:
          push: true
          targets: sd3
          set: |
            DOCKERHUB_REPO=${{ secrets.DOCKERHUB_REPO }}
            DOCKERHUB_IMG=${{ secrets.DOCKERHUB_IMG }}
            RELEASE_VERSION=${{ env.RELEASE_VERSION }}
            HUGGINGFACE_ACCESS_TOKEN=${{ secrets.HUGGINGFACE_ACCESS_TOKEN }}
