name: Development

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

jobs:
  dev:
    runs-on: ubuntu-latest-m
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Clear space to remove unused folders
        run: |
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf "/usr/local/share/boost"
          rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set environment variables
        run: |
          echo "DOCKERHUB_REPO=${{ secrets.DOCKERHUB_REPO }}" >> $GITHUB_ENV
          echo "DOCKERHUB_IMG=${{ secrets.DOCKERHUB_IMG }}" >> $GITHUB_ENV
          echo "HUGGINGFACE_ACCESS_TOKEN=${{ secrets.HUGGINGFACE_ACCESS_TOKEN }}" >> $GITHUB_ENV
          echo "RELEASE_VERSION=${GITHUB_REF##refs/heads/}" | sed 's/\//-/g' >> $GITHUB_ENV

      - name: Build and push the images
        uses: docker/bake-action@v2
        with:
          push: true
          targets: sd3
          set: |
            base.args.DOCKERHUB_REPO=${{ env.DOCKERHUB_REPO }}
            base.args.DOCKERHUB_IMG=${{ env.DOCKERHUB_IMG }}
            base.args.RELEASE_VERSION=${{ env.RELEASE_VERSION }}
            sdxl.args.DOCKERHUB_REPO=${{ env.DOCKERHUB_REPO }}
            sdxl.args.DOCKERHUB_IMG=${{ env.DOCKERHUB_IMG }}
            sdxl.args.RELEASE_VERSION=${{ env.RELEASE_VERSION }}
            sd3.args.HUGGINGFACE_ACCESS_TOKEN=${{ env.HUGGINGFACE_ACCESS_TOKEN }}
            sd3.args.DOCKERHUB_REPO=${{ env.DOCKERHUB_REPO }}
            sd3.args.DOCKERHUB_IMG=${{ env.DOCKERHUB_IMG }}
            sd3.args.RELEASE_VERSION=${{ env.RELEASE_VERSION }}
            sd3.tags=${{ env.DOCKERHUB_REPO }}/${{ env.DOCKERHUB_IMG }}:${{ env.RELEASE_VERSION }}-sd3
